html {
    background-color: #f5f6fa;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    background-color: #f8f9fb;
    width: 250px;
    height: 100vh;    
    margin: 0;
    top: 0;
    left: 0;
}

.layout {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu .item {
    border-radius: 8px;
    margin: 0 20px;
    color: #555;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}

.menu .active {
    background-color: rgb(224, 232, 254);
    color: #5B3FFF;
    font-weight: bold;  
    padding: 10px;
}

i {
    margin-right: 10px;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 1px rgb(225, 224, 224);
    margin-left: 20px;
    margin-right: 20px;
}

.naslov {
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
    margin-left: 20px;
    color: #5B3FFF;
}

.user-box {
    margin: 10px 20px;
    padding: 7px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgb(241, 241, 241);
}

.krug {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    font-size: 19px;
}

.user-info .ime {
    font-size: 14px;
    color: #333333;
    padding: 0;
    margin: 0 0;
}

.user-info .uloga {
    font-size: 12px;
    color: #777777;
    padding: 0;
    margin: 0 0;
}

.sadrzaj {
    flex: 1;
    padding: 20px;
}

.zaglavlje {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glavni-naslov {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 10px;
    color: #333333;
}

#pretrazivanje {
    width: 100px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    margin-right: 5px;
}

#dugme-pretrazi {
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #5B3FFF;
    color: white;
    font-size: 14px;
    padding: 0 15px;
    cursor: pointer;
    margin-left: 5px;
}