html {
    background-color: #f5f6fa;
    font-family: 'Poppins', 'Inter', sans-serif;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.zaglavlje {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.layout {
    display: flex;
    min-height: calc(100vh - 60px);
}

.nav-lijevo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color:#838383;
}

.naslov {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.nav-centar {
    display: flex;
    gap: 10px;
}

.opcija {
    border-radius: 6px;
    background-color: #eeeeee;
    font-size: 12px;
    padding: 6px 12px;
    border: #838383;
    cursor: pointer;
    color: #838383;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.opcija:hover {
    background-color: #f0f0f0;
}

.nav-desno {
    display: flex;
    justify-content: end;
}

#spremi {
    border-radius: 6px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 12px;
    padding: 9px 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease;
}

#spremi:hover {
    background-color: #218838;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: white;
    border-right: 1px solid #ddd;
    padding: 5px 20px;
}

.sidebar .naslov-scena {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}

.sidebar .scene-lista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar .scene-lista li {
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #555;
    font-size: 14px;
    margin: 5px 0;
}

.sidebar .scene-lista li:hover {
    background-color: rgb(240, 244, 255);
    border-left: #7d67ff 4px solid;
    padding-left: 6px;
    color: #2d2d2d;
}

.sidebar .scene-lista li.aktivna {
    background-color: #e9eeff;
    color: #333;
    border-left: 4px solid #5B3FFF;
    padding-left: 6px;
}

hr {
    border-top: 1px #333;
}

.desno {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: calc(100vh - 60px);
}

.dugmad-poruke {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    margin: 0 60px;
}

.metode  {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#output {
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    font-family: "Courier New", Courier, monospace;
    margin-top: 10px;
}

.metode button {
    padding: 6px 10px;
    background: #838383;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;    
}

.alatna-traka {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 5px; 
    padding-bottom: 10px;
}

.alatna-traka button {
    padding: 6px 10px;
    background: #838383;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.alatna-traka button:hover {
    background: #555;
}

#divEditor.editor {
    flex-grow: 1;          
    display: flex;
    flex-direction: column;
}

.editor {
    margin: 0 60px;
    margin-bottom: 20px;
    min-height: calc(100vh - 60px - 80px);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 80px;
    padding-top: 100px;
    font-family:"Courier New", "Courier new", monospace;
}

.editor .naslov-skripte {
    font-size: 22px;
    font-weight: bold;
    color: #d68a00;
    margin: 20px 0;
}

.editor .tekst-skripte {
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.6;
    color: black;
    white-space: pre-wrap;
}

.editor .tekst-skripte p {
    margin-bottom: 1.5em;
}

.editor .tekst-skripte p:last-child {
    margin-bottom: 0;
}

@media (max-width: 750px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%; 
        height: auto;
        padding: 5px;
    }

    .zaglavlje {
        width: 100%;
        gap: 6px;
    }

    .nav-centar {
        flex-wrap: wrap;
        gap: 6px;     
    }

    .opcija {
        flex: 1 1 45%;
    }

    #spremi {
        margin-left: auto;
        margin-top: 8px;
    }

    .zaglavlje {
        padding: 10px 5px;
    }
}
